<div class="panel-body" ng-controller="EditCustomerController as vm">
    <div class="col-lg-6 col-lg-offset-3">
        <form name="formEditCustomer" class="form-horizontal form-validation" data-ng-submit="vm.submitForm()">
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Primeiro Nome </label>
                </div>
                <div class="col-sm-9">
                    <input  type="text"
                            id="customerName"
                            class="form-control"
                            ng-model="vm.editCustomer.name"
                            required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Sobrenome </label>
                </div>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            ng-model="vm.editCustomer.lastName">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Tipo </label>
                </div>
                <div class="col-sm-9">
                    <md-autocomplete
                            ng-disabled="true"
                            md-clear-button="false"
                            md-no-cache="vm.noCache"
                            md-selected-item="vm.selectedItem"
                            md-search-text-change="vm.searchTextChange(vm.searchText)"
                            md-search-text="vm.searchText"
                            md-selected-item-change="vm.selectedItemChange(item)"
                            md-items="item in vm.querySearch(vm.searchText)"
                            md-item-text="item"
                            md-min-length="0"
                            placeholder="Escolha um tipo ou digite um novo...">
                        <md-item-template>
                                <span md-highlight-text="vm.searchText"
                                      md-highlight-flags="^i">{{item}}</span>
                        </md-item-template>
                    </md-autocomplete>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Email </label>
                </div>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           placeholder="e-mail"
                           ng-model="vm.editCustomer.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Telefone </label>
                </div>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="(  )    -    "
                           ng-model="vm.editCustomer.phone"
                           data-min="10"
                           data-max="14"
                           ui-br-phone-number>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Nascimento </label>
                </div>
                <div class="col-sm-9">
                    <input type="text"
                           ng-model="vm.editCustomer.birthDay"
                           class="form-control"
                           ui-date-mask
                           placeholder="DD/MM/AAAA">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Informações </label>
                </div>
                <div class="col-sm-9">
                        <textarea name=""
                                  ng-model="vm.editCustomer.info"
                                  id=""
                                  class="form-control"
                                  rows="4"></textarea>
                </div>
            </div>
            <button type="submit"
                    ui-wave
                    class="btn btn-primary btn-block "
                    data-ng-disabled="!vm.canSubmit()"> <span data-translate="SAVE"></span> </button>
            <div class="divider"></div>
            <button type="reset"
                    ui-wave
                    class="btn  btn-danger pull-right"
                    ng-click="vm.cancel()">
                <span data-translate="CANCEL"></span></button>
        </form>
    </div>
</div>
