<div class="page-dashboard" ng-controller="DashboardController as vm">

    <div class="row col-md-12" uib-collapse="isCollapsed" ng-include="'/user/dashboard/newEvent.html'"> </div>
    <div ng-hide="!currentUser.trial" class="row col-md-12" uib-collapse="signupIsCollapsed" ng-include="'/user/dashboard/signupButton.html'"> </div>

    <div class="row col-md-8">

        <div class="row col-xs-12" style="margin: 0;">
            <div class="pull-right" style="height: 2rem;">
                <button ui-wave
                        ng-disabled="!isCollapsed"
                        class="btn btn-primary"
                        ng-click="vm.creatEvent()"
                        style="position: relative; top: 2.5rem; z-index: 999;">
                    <span data-translate="CREATE_EVENT"></span>
                </button>
            </div>
        </div>

        <md-tabs  md-dynamic-height md-swipe-content md-no-ink-bar  style="margin: 8rem 1rem 1rem;">
            <md-tab id="activeEvents" style="margin-top: 22rem;">
                <md-tab-label>
                    <div class="mobile-tab-title">
                        Eventos Ativos
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <table class="table table-responsive no-margin table-hover" style="margin-top: 2.2rem;">
                        <thead>
                        <tr>
                            <th style="width: 20%;"> Tipo </th>
                            <th style="width: 50%;"> Cliente </th>
                            <th style="width: 10%;" class="mobile-col-hide"> Data </th>
                            <th style="width: 10%;" class="mobile-col-hide"> Hora </th>
                            <th style="width: 10%;"> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in vm.dashboardData.events | filter: {finished: false}" >
                            <td ng-click="eventClick(event)" toggle-off-canvas class="line-clickable">
                                    <span class="badge mobile-badge"
                                          ng-class=" { 'badge-wedding': event.type === 'Casamento',
                                   'badge-birthday': event.type === 'Aniversário',
                                   'badge-bodas': event.type === 'Bodas',
                                   'badge-teen': event.type === '15 Anos',
                                   'badge-corporate': event.type === 'Corporativo',
                                   'badge-graduation': event.type === 'Formatura',
                                   'badge-others': !['Casamento', 'Aniversário', 'Bodas', '15 Anos', 'Corporativo', 'Formatura'].includes(event.type)} ">
                                        {{ event.type }}
                                    </span>
                            </td>
                            <td toggle-off-canvas ng-click="eventClick(event)" class="line-clickable"> {{event.mainCustomers}} </td>
                            <td toggle-off-canvas ng-click="eventClick(event)" class="line-clickable mobile-col-hide"> {{event.date | date: 'dd/MM/yyyy'}} </td>
                            <td toggle-off-canvas ng-click="eventClick(event)" class="line-clickable mobile-col-hide"> {{event.date | date: 'HH:mm'}} </td>
                            <td>
                                <md-button class="md-icon-button edit"
                                           ng-click="vm.deleteEvent(event._id)"
                                           aria-label="Apaga o evento.">
                                    <span><i class="zmdi zmdi-delete zmdi-hc-lg"></i></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-tab-body>
            </md-tab>
            <md-tab id="inactiveEvents">
                <md-tab-label>
                    <div class="mobile-tab-title">
                        Eventos Concluídos
                    </div>
                </md-tab-label>
                <md-tab-body>
                    <table class="table table-responsive no-margin table-hover">
                        <thead>
                        <tr>
                            <th style="width: 20%;"> Tipo </th>
                            <th style="width: 50%;"> Cliente </th>
                            <th style="width: 10%;" class="mobile-col-hide"> Data </th>
                            <th style="width: 10%;" class="mobile-col-hide"> Hora </th>
                            <th style="width: 10%;"> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in vm.dashboardData.events | filter: {finished: true}" >
                            <td ng-click="eventClick(event)" toggle-off-canvas class="line-clickable">
                        <span class="badge mobile-badge"
                              ng-class=" { 'badge-wedding': event.type === 'Casamento',
                                   'badge-birthday': event.type === 'Aniversário',
                                   'badge-bodas': event.type === 'Bodas',
                                   'badge-teen': event.type === '15 Anos',
                                   'badge-corporate': event.type === 'Corporativo',
                                   'badge-graduation': event.type === 'Formatura',
                                   'badge-others': !['Casamento', 'Aniversário', 'Bodas', '15 Anos', 'Corporativo', 'Formatura'].includes(event.type)

                      } ">
                            {{ event.type }}
                        </span>
                            </td>
                            <td ng-click="eventClick(event)" toggle-off-canvas class="line-clickable"> {{event.mainCustomers}} </td>
                            <td ng-click="eventClick(event)" toggle-off-canvas class="line-clickable mobile-col-hide"> {{event.date | date: 'dd/MM/yyyy'}} </td>
                            <td ng-click="eventClick(event)" toggle-off-canvas class="line-clickable mobile-col-hide"> {{event.date | date: 'HH:mm'}} </td>
                            <td>
                                <md-button class="md-icon-button edit"
                                           ng-click="vm.deleteEvent(event._id)"
                                           aria-label="Apaga o evento.">
                                    <span><i class="zmdi zmdi-delete zmdi-hc-lg"></i></span>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>

    <div class="col-md-4" style="margin-bottom: 2rem; margin-top: 60px;">
        <h3 class="section-header"> Próximas Tarefas </span> </h3>
        <table class="table table-responsive no-margin table-hover">
            <thead>
            <tr>
                <th style="width: 90%;"> Compromisso </th>
                <th style="width: 10%;"> Data </th>
            </tr>
            </thead>
            <tbody ng-repeat="task in vm.dashboardTasks" ng-click="goToTask(task.eventId)" toggle-off-canvas style="cursor:pointer">
            <tr>
                <td colspan="2">
                    <strong>{{ task.eventName }} -</strong>
                    {{task.name}}
                    <div class="pull-right">
                        {{task.dueDate | date: 'dd/MM/yyyy'}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>