<div class="page">
    <div class="col-md-12 panel panel-default">
        <div class="panel-body" style="padding-bottom: 0;">
            <div class="col-md-12 panel-body text-center">
                <h1 style="font-weight: 400; margin-top: 10px;"> Sistema de Confirmação de Convidados </h1>
            </div>
        </div>
    </div>

    <div class="col-md-12" ng-include="'events/guests/guests.html'" style="padding: 0;">
    </div>
</div>