<div ng-controller="EditEpisodeController as vm" style="margin-bottom: 7rem;">
    <form name="formEditEpisode" class="form-horizontal form-validation" data-ng-submit="vm.submitForm()">
        <div class="form-group">
            <div class="col-sm-3">
                <label for=""> Horário </label>
                <input ng-model="vm.editEpisode.hour"
                       id="episodeHour"
                       placeholder="HH:mm"
                       ui-time-mask="short"
                       class="form-control"
                       type="text">
            </div>
            <div class="col-sm-9">
                <label for="episodeName"> Episódio </label>
                <input  type="text"
                        id="episodeName"
                        class="form-control"
                        ng-model="vm.editEpisode.name"
                        required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12 clearfix">
                <h4> Informações </h4>
            </div>
            <div class="col-sm-12">
                <section>
                    <text-angular ng-model="vm.editEpisode.notes" class="ui-editor"></text-angular>
                </section>
            </div>
        </div>
        <button type="submit"
                ui-wave
                class="btn btn-primary btn-block"
                data-ng-disabled="!vm.canSubmit()">
            <span data-translate="SAVE"></span>
        </button>
        <div class="divider"></div>
        <button type="reset"
                ui-wave
                class="btn btn-danger pull-right"
                ng-click="vm.cancel()">
            <span data-translate="CANCEL"></span>
        </button>
    </form>
</div>
