<div class="page" ng-controller="ScriptsController as vm">
    <div class="row">
        <div class="col-xs-6">
            <h2 class="section-header" style="margin-top: 0;"><span data-translate="SCRIPTS"></span></h2>
        </div>
        <div class="right pull-right">
            <div class="col-md-2" style="padding-right: 4.5rem;">
                <button ui-wave class="btn btn-primary"
                        ng-click="vm.scriptAdd()">
                    <span data-translate="CREATE_SCRIPT"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <table class="table table-responsive no-margin table-hover">
            <thead>
                <tr>
                    <th style="padding: 20px 0; width: 100%;"> Nome </th>
                    <th style="padding: 20px 0; width: 5% ;"> </th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="script in vm.eventInfo.scripts" class="line-clickable">
                    <td style="padding: 20px 0; width: 100%;" ng-click="vm.scriptEdit(script, $index)"> {{ script.name }} </td>
                    <td style="padding: 20px 0; width: 100%;">
                        <section class="pull-right"  layout="row" layout-align="center">
                            <md-button ng-click="ctrl.sendEmail(script)"
                                       class="md-icon-button edit"
                                       tooltip-placement="left"
                                       tooltip-class="customClass"
                                       uib-tooltip="Compartilhar roteiro."
                                       tooltip-append-to-body="true"
                                       aria-label="Compartilhar roteiro.">
                                <span><i class="fa fa-envelope"></i></span>
                            </md-button>
                            <!--<md-button class="md-icon-button edit"-->
                                       <!--aria-label="Editar roteiro."-->
                                       <!--ng-click="ctrl.scriptEdit(script)">-->
                                <!--<span><i class="zmdi zmdi-edit zmdi-hc-lg"></i></span>-->
                            <!--</md-button>-->
                            <md-button class="md-icon-button edit"
                                       aria-label="Apagar roteiro."
                                       ng-click="vm.scriptDelete(script)">
                                <span><i class="zmdi zmdi-delete zmdi-hc-lg"></i></span>
                            </md-button>
                        </section>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
