<div class="page">
    <div class="row">
        <div class="left">
            <div class="col-md-6">
                <h2 class="section-header"><span data-translate="EPISODES"></span></h2>
            </div>
        </div>

    </div>
    <div class="row col-md-10 col-sm-offset-1" ng-include="'events/episodes/editEpisode.html'">
    </div>

</div>