<md-dialog class="col-lg-5 col-md-6 col-sm-6" style="padding: 0;">
    <md-card style="margin: 0; box-shadow: none;">
        <img ng-src="styles/images/modal-background.jpg" class="md-card-image" alt="RSVP Easyplanner">
        <md-card-title class="center-block" style="padding-top: 0;">
            <md-card-title-text>
                <span class="md-headline easy-color">Bem vindo ao Sistema RSVP do Easyplanner</span>
                <span class="md-subhead center-block">O Sistema RSVP do Easyplanner é seguro e muito fácil de usar:</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size: small; font-weight: 300;">
                        Você Envia o Acesso ao sistema com seu cliente para que ele comece a cadastrar sua lista de convidados.
                    </p>
                </div>
                <div class="col-md-6">
                    <p style="font-size: small; font-weight: 300;">
                        Depois, para que os convidados do evento respondam ao RSVP, basta informar para que eles acessem o site: <b>www.ConfirmeSuaPresenca.com</b>
                    </p>
                </div>

                <div class="col-md-12">
                    <p style="font-size: small; font-weight: 300;">
                        Pronto! Você acompanha o andamento do RSVP em tempo real aqui mesmo na página do RSVP do evento. Você e seu cliente podem ver os convidados que já confirmaram e os que ainda faltam confirmar.
                    </p>
                </div>
            </div>
        </md-card-content>
        <div class="col-md-4 col-md-offset-4" style="padding-bottom: 2rem;">
            <button class="btn btn-primary btn-block easy-backgroud-color" ng-click="close()">
                Começar a Usar
            </button>
        </div>
    </md-card>
</md-dialog>