<header class="top-header clearfix no-print">
    <!-- needs to be put after logo to make it work -->
    <div class="menu-button header" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <!-- DASHBOARD VISIBLE -->
    <!-- Logo -->
    <div class="logo header-dashboard bg-white col-sm-12"
         style="margin-bottom: 6px; width: 100%">
        <img src="styles/images/easyplanner_cor_250w.png" alt="Easy Planner" class="logo_main">
    </div>
    <!-- DASHBOARD VISIBLE -->

    <div class="top-nav header text-center" ng-controller="HeaderController as vm">
        <ul class="nav-left list-unstyled">

            <!-- PROFILE VISIBLE -->
            <li class="header-profile"
                id="back-home-profile">
                <a aria-label="meanu"
                   href="#/dashboard"
                   tooltip-placement="right"
                   tooltip-class="customClass" uib-tooltip="Voltar para dashboard"
                   tooltip-append-to-body="true">
                    <i class="fa fa-arrow-left" style="font-weight: 100;"></i>
                    <span class="mobile-hide" data-translate="BACK_TO_HOME"></span>
                </a>
            </li>
            <!-- PROFILE VISIBLE -->

            <!-- EVENT VISIBLE -->
            <!-- Event type -->
            <li class="header-event first-on-header" is-open="status.isopenCustomers">
                <span class="badge mobile-badge"
                      ng-class=" { 'badge-wedding': vm.eventInfo.type === 'Casamento',
                                   'badge-birthday': vm.eventInfo.type === 'Aniversário',
                                   'badge-bodas': vm.eventInfo.type === 'Bodas',
                                   'badge-teen': vm.eventInfo.type === '15 Anos',
                                   'badge-corporate': vm.eventInfo.type === 'Corporativo',
                                   'badge-graduation': vm.eventInfo.type === 'Formatura',
                                   'badge-others': !['Casamento', 'Aniversário', 'Bodas', '15 Anos', 'Corporativo', 'Formatura'].includes(vm.eventInfo.type)

                      } "
                      style="margin-top: 1.3rem;"
                      uib-dropdown-toggle
                      ng-disabled="disabled"
                      ng-click="isopenCustomers = !isopenCustomers"
                      tooltip-class="customClass" uib-tooltip="{{vm.eventInfo.mainCustomers}}"
                      tooltip-is-open="isopenCustomers"
                      tooltip-append-to-body="true"
                      tooltip-placement="bottom"
                      tooltip-class="customClass">
                    {{ vm.eventInfo.type }}
                </span>
            </li>

            <!-- Customers -->
            <li class="header-event dropdown mobile-header mobile-hide">
                <a href="#/customers"
                   style="font-weight: 600;">
                    {{ vm.eventInfo.mainCustomers }}
                </a>
            </li>

            <!-- Date -->
            <li class="header-event dropdown mobile-header" uib-dropdown is-open="status.isopenDate"  auto-close="outsideClick">
                <a href="javascript:;"
                   class="dropdown-toggle"
                   uib-dropdown-toggle
                   ng-click="tooltipDateIsOpen = !tooltipDateIsOpen"
                   tooltip-class="customClass" uib-tooltip="Clique aqui para editar a data do Evento."
                   tooltip-is-open="tooltipDateIsOpen"
                   tooltip-append-to-body="true"
                   tooltip-placement="bottom"
                   tooltip-class="customClass"
                   ng-disabled="disabled">
                    <i class="fa fa-calendar"></i>
                    <span class="mobile-hide"> {{ vm.showDate | date: "dd/MM/yyyy" }} </span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default admin-options scaleInLeft animated"  uib-dropdown-menu>
                    <div class="panel-heading">
                        <span data-translate="DATE"></span>:
                    </div>
                    <ul class="list-group">
                        <form role="form" class="form-group">
                            <div class="col-sm-12">
                                <input type="text"
                                       ng-model="vm.editingDate"
                                       class="form-control"
                                       ui-date-mask
                                       style="z-index: 9000;"
                                       placeholder="DD/MM/AAAA">
                            </div>
                        </form>
                    </ul>
                    <div class="panel-footer col-sm-12 center">
                        <!--<md-button ng-click="vm.updateEventInfo(); status.isopenDate = !status.isopenDate" type="submit" class="md-raised md-primary btn-w-md btn-md" style="padding: 0 3.7rem; width: 100%;"> <span data-translate="SAVE"></span> </md-button>-->
                        <button ui-wave class="btn  btn-primary" type="submit"  ng-click="vm.updateEventInfo(); status.isopenDate = !status.isopenDate" style="width: 100%;"><span data-translate="SAVE"></span></button>
                    </div>
                </div>
            </li>

            <!-- Hour -->
            <li class="header-event dropdown mobile-header" uib-dropdown is-open="status.isopenHour" auto-close="outsideClick">
                <a href="javascript:;"
                   class="dropdown-toggle"
                   uib-dropdown-toggle
                   ng-disabled="disabled"
                   ng-click="tooltipHourIsOpen = !tooltipHourIsOpen"
                   tooltip-class="customClass" uib-tooltip="Clique aqui para editar o horário do Evento."
                   tooltip-is-open="tooltipHourIsOpen"
                   tooltip-append-to-body="true"
                   tooltip-placement="bottom"
                   tooltip-class="customClass">
                    <i class="fa fa-clock-o"></i>
                    <span class="mobile-hide"> {{ vm.showTime | date: "HH:mm" }} </span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default admin-options scaleInRight animated" uib-dropdown-menu>
                    <div class="panel-heading"> <span data-translate="HOUR"></span>:</div>
                    <ul class="list-group">
                        <form role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input ng-model="vm.editingTime"
                                           placeholder="HH:mm"
                                           ui-time-mask="short"
                                           class="form-control"
                                           type="text">
                                </div>
                            </div>
                        </form>
                    </ul>
                    <div class="panel-footer col-sm-12 center">
                        <button ui-wave class="btn  btn-primary" type="submit"  ng-click="vm.updateEventInfo(); status.isopenHour = !status.isopenHour" style="width: 100%;"><span data-translate="SAVE"></span></button>
                    </div>
                </div>
            </li>

            <!-- qtdGuests -->
            <li class="header-event dropdown mobile-header" uib-dropdown is-open="status.isopenqtdGuests"  auto-close="outsideClick">
                <a href="javascript:;"
                   class="dropdown-toggle"
                   uib-dropdown-toggle
                   ng-disabled="disabled"
                   ng-click="tooltipQtdIsOpen = !tooltipQtdIsOpen"
                   tooltip-class="customClass" uib-tooltip="{{ vm.showQtdDetails }}"
                   tooltip-is-open="tooltipQtdIsOpen"
                   tooltip-append-to-body="true"
                   tooltip-placement="bottom"
                   tooltip-class="customClass">
                    <i class="fa fa-users"></i>
                    <span class="mobile-hide"> {{ vm.showQtdGuests }} </span>
                </a>
            </li>

            <!-- BUDGET -->
            <li class="header-event dropdown mobile-header" uib-dropdown is-open="status.isopenBudget"  auto-close="outsideClick">
                <a href="javascript:;"
                   class="dropdown-toggle"
                   uib-dropdown-toggle
                   ng-disabled="disabled"
                   ng-click="tooltipBudgetIsOpen = !tooltipBudgetIsOpen"
                   tooltip-class="customClass" uib-tooltip="Clique aqui para editar o Orçamento."
                   tooltip-is-open="tooltipBudgetIsOpen"
                   tooltip-append-to-body="true"
                   tooltip-placement="bottom"
                   tooltip-class="customClass">
                    <i class="zmdi zmdi-money"></i>
                    <span class="mobile-hide"> {{ vm.showBudget | currency}} </span>
                </a>
                <div class="dropdown-menu pull-right with-arrow panel panel-default admin-options scaleInRight animated"
                     uib-dropdown-menu style="width: 200px;">
                    <div class="panel-heading">
                        <span data-translate="PLANED_BUDGET"></span>
                        :
                    </div>
                    <ul class="list-group">
                        <form role="form" class="form-group">
                            <div >
                                <div class="col-sm-12">
                                    <input ng-model="vm.editingBudget" ui-number-mask class="form-control" id="budget">
                                </div>
                            </div>
                            <div class="form-group pull-left" style="padding-left: 1.5rem; margin-top: 1.3rem;">
                                <p> Contratado: &nbsp </p>
                                <span class="color-danger"> {{ vm.totalExpenses | currency }} </span>
                            </div>
                            <div class="form-group pull-right" style="padding-right: 1.5rem; margin-top: 1.3rem;">
                                <p> Disponível: &nbsp </p>
                                <span class="color-success"> {{ vm.eventInfo.budget - vm.totalExpenses | currency }} </span>
                            </div>
                        </form>
                    </ul>
                    <div class="panel-footer col-sm-12">
                        <button ui-wave class="btn  btn-primary" type="submit"  ng-click="vm.updateEventInfo(); status.isopenBudget = !status.isopenBudget" style="width: 100%;"><span data-translate="SAVE"></span></button>
                    </div>
                </div>
            </li>
        </ul>

        <!-- DASHBOARD VISIBLE -->

        <!-- Settings -->

        <div class="header-dashboard">
            <ul class="nav-right pull-right list-unstyled" ng-init="enter=false">
                <li class="dropdown text-normal nav-profile" ng-controller="AuthenticationController" uib-dropdown is-open="status.isopenProfile">
                    <a href="javascript:;" class="dropdown-toggle"
                       uib-dropdown-toggle
                       ng-disabled="disabled"
                       style="height: 70px; padding-top: 23px;"
                       aria-label="settings">
                        <span class="mobile-hide"> Configurações &nbsp</span>
                        <i class="zmdi zmdi-settings"
                           ng-class="{zmdiHcSpin: enter}"
                           ng-mouseenter="enter=true"
                           ng-mouseleave="enter=false"
                           style="font-size: 2.5rem; position: relative; top: 0.4rem;"></i>
                        <i class="fa fa-caret-down mobile-hide"></i>
                    </a>
                    <ul class="dropdown-menu with-arrow pull-right scaleInRight animated">
                        <li>
                            <a href="#/profile">
                                <i class="zmdi zmdi-account"></i>
                                <span data-translate="MY_ACCOUNT"></span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://easyplanner.zendesk.com/hc/pt-br">
                                <i class="fa fa-question"></i>
                                Ajuda e Suporte
                            </a>
                        </li>
                        <li ng-click="logout()">
                            <a href="https://www.easyplanner.com.br" >
                                <i class="fa fa-power-off"></i>
                                <span data-translate="LOG_OUT"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- DASHBOARD VISIBLE -->
    </div>
</header>
