<div class="modal-header">
    <h3> {{title}} </h3>
</div>
<div class="modal-body">
    <p>{{ message }}</p>
    <p>{{ secondMessage }}</p>
</div>
<div class="modal-footer">
    <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()"> <span data-translate="CANCEL"></span> </button>
    <button ui-wave class="btn btn-flat btn-primary" ng-click="ok()"> <span data-translate="OK"></span></button>
</div>
