<div ng-controller="EditVenueController as vm">
    <div class="col-lg-6 col-lg-offset-3">
        <form name="formEditVenue" class="form-horizontal form-validation" data-ng-submit="vm.submitForm()">
            <div class="form-group">
                <div class="col-sm-3">
                    <label for="venueName"> Nome </label>
                </div>
                <div class="col-sm-9">
                    <input  type="text"
                            id="venueName"
                            class="form-control"
                            ng-model="vm.editVenue.name"
                            required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Endereço </label>
                </div>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Logradouro, número, apto, bloco ..."
                           ng-model="vm.editVenue.address">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Cidade </label>
                </div>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           ng-model="vm.editVenue.city">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <label for=""> Estado </label>
                </div>
                <div class="col-sm-9">
                    <md-select ng-model="vm.editVenue.state">
                        <md-option ng-repeat="state in vm.states" value="{{state}}">
                            {{state}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <button type="submit"
                    ui-wave
                    class="btn btn-primary btn-block"
                    data-ng-disabled="!vm.canSubmit()"> <span data-translate="SAVE"></span> </button>
            <div class="divider"></div>
            <button type="reset"
                    ui-wave
                    class="btn btn-danger pull-right"
                    ng-click="vm.cancel()">
                <span data-translate="CANCEL"></span></button>
        </form>
    </div>
</div>
