<div class="page" data-ng-controller="VenuesController as vm">
    <div class="row">
        <div class="col-xs-6">
            <h2 class="section-header" style="margin-top: 0"><span data-translate="VENUES"></span></h2>
        </div>
        <div class="right pull-right ">
            <div class="col-md-2" style="padding-right: 4.5rem;">
                <button ui-wave data-ng-disabled="!isCollapsed" class="btn btn-primary" ng-click="vm.venueAdd()"><span data-translate="CREATE_VENUE"></span></button>
            </div>
        </div>
    </div>

    <div class="row col-md-12" uib-collapse="isCollapsed" ng-include="'events/venues/editVenue.html'"></div>

    <div class="row col-md-12">
        <div>
            <table class="table table-responsive no-margin table-hover">
                <thead>
                    <tr>
                        <th style="width: 65%;"> Nome </th>
                        <th style="width: 30%;" class="mobile-col-hide"> Endereço </th>
                        <th style="width:  5%;"> </th>
                    </tr>
                </thead>
                <tbody ng-repeat="venue in vm.eventInfo.venues">
                    <tr>
                        <td> {{ venue.name }} </td>
                        <td class="mobile-col-hide"> {{ venue.completeAddress }} </td>
                        <td>
                            <section class="pull-right"  layout="row" layout-align="center">
                                <!-- no-mobile -->
                                <md-button class="mobile-hide"
                                           target="_blank"
                                           aria-label="Ver no mapa."
                                           style="padding-top: 1rem;"
                                           href="https://www.google.com/maps/search/?api=1&query={{ venue.addressString }}">
                                    <span> Ver no Mapa </span>
                                </md-button>
                                <!-- mobile -->
                                <md-button class="md-icon-button edit non-mobile-show"
                                           target="_blank"
                                           aria-label="Ver no mapa."
                                           style="padding-top: 1rem;"
                                           href="https://www.google.com/maps/search/?api=1&query={{ venue.addressString }}">
                                    <i class="zmdi zmdi-pin"></i>
                                </md-button>
                                <!-- always shown -->
                                <md-button class="md-icon-button edit"
                                           aria-label="Editar local."
                                           ng-click="vm.venueEdit(venue)">
                                    <span><i class="zmdi zmdi-edit zmdi-hc-lg"></i></span>
                                </md-button>
                                <md-button class="md-icon-button edit"
                                           aria-label="Apagar local."
                                           ng-click="vm.venueDelete(venue)">
                                    <span><i class="zmdi zmdi-delete zmdi-hc-lg"></i></span>
                                </md-button>
                            </section>
                        </td>
                    </tr>
                    <tr class="mobile-row-show">
                        <td colspan="4" style="border-top-color: #9e9e9e17;">
                            End.: {{ venue.completeAddress }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
