<div class="page-signup" ng-controller="SignupController as vm">

    <div class="signin-header">
        <section class="logo text-center" style="margin-left: 80px;">
            <img src="styles/images/easyplanner_cor_250w.png" alt="Easy Planner" class="logo_main">
        </section>
    </div>

    <div class="wrapper" style="margin-top: 80px;">
        <div class="main-body">
            <div class="card bg-white" style="width: 500px;">
                <div class="card-content">
                    <form class="form-horizontal" ng-submit="vm.onSubmit()">
                        <fieldset>
                            <div class="form-group">
                                <div class="ui-input-group">
                                    <input type="text" class="form-control" ng-model="vm.newUser.name">
                                    <span class="input-bar"></span>
                                    <label> Seu Primeiro Nome</span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ui-input-group">
                                    <input type="email" class="form-control"  ng-model="vm.newUser.email">
                                    <span class="input-bar"></span>
                                    <label><span data-translate="EMAIL"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ui-input-group">
                                    <input type="password" class="form-control"  ng-model="vm.newUser.password">
                                    <span class="input-bar"></span>
                                    <label><span data-translate="PASSWORD"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ui-input-group">
                                    <input type="password" class="form-control"  ng-model="vm.newUser.confirmPassword">
                                    <span class="input-bar"></span>
                                    <label><span data-translate="CONFIRM_THE_PASSWORD"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="ui-input-group">
                                    <input type="text" class="form-control"  ng-model="vm.newUser.company">
                                    <span class="input-bar"></span>
                                    <label><span data-translate="COMPANY"></span></label>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="form-group">
                                <p class="additional-info text-small"> Ao clicar em "Cadastrar", você aceita os <a href="javascript:;"><i> Termos </i></a> e <a href="javascript:;"><i> Política de Privacidade </i></a></p>
                            </div>
                        </fieldset>
                        <div class="card-action no-border text-right">
                            <div class="pull-left">
                                <p>Já tem cadastro? <span><a href="#/"> <strong> Login aqui.</strong> </a></span> </p>
                            </div>
                            <button type="submit"
                                    ui-wave
                                    class="md-raised btn-w-md md-button md-ink-ripple"
                                    style="background-color: #358fa3; color: #ececec; font-weight: 700;">
                                <span data-translate="SIGN_UP"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>