<div class="page" data-ng-controller="NotesController as vm">
    <div class="row">
        <div class="col-xs-6">
            <h2 class="section-header" style="margin-top: 0;"> <span data-translate="NOTES"></span> </h2>
        </div>
        <div class="right pull-right ">
            <div class="col-md-2" style="padding-right: 4.5rem;">
                <button ui-wave data-ng-disabled="!isCollapsed" class="btn btn-primary" ng-click="vm.noteAdd()"><span data-translate="CREATE_NOTE"></span></button>
            </div>
        </div>
    </div>


    <div class="row col-md-12" uib-collapse="isCollapsed" ng-include="'events/notes/editNote.html'" style="padding-bottom: 2rem;"></div>

    <div class="row col-md-12">
        <div>
            <table class="table table-responsive no-margin table-hover">
                <thead>
                    <tr>
                        <th style="padding: 20px 0; width: 95%;"> Nome </th>
                        <th style="padding: 20px 0; width: 5%;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="note in vm.eventInfo.notes" class="line-clickable">
                        <td ng-click="vm.noteEdit(note)">
                            <span><i class="zmdi zmdi-file-text zmdi-hc-lg" style="color: #6ea4ff;"></i> &nbsp </span>
                            {{ note.title }}
                        </td>
                        <td>
                            <section class="pull-right"  layout="row pull-right" layout-align="center center">
                                <md-button class="md-icon-button edit"
                                           aria-label="Apagar documento."
                                           ng-click="vm.noteDelete(note)">
                                    <span><i class="zmdi zmdi-delete zmdi-hc-lg"></i></span>
                                </md-button>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
